{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Training Scheduling</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="{% static 'training_scheduling/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    <h1>Training Scheduling</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Training Rooms/Reserve Class</a>
      </li>
      {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_classroom' %}">Add Classroom</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reserved' %}">Reserved Trainings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
      {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
      {% endif %}
    </ul>
    
    {% block body %}
    {% endblock %}
  </body>

  {% block script %}
    <script src="{% static 'training_scheduling/inbox.js' %}"></script>
  {% endblock %}

</html>