

{% extends "training_scheduling/layout.html" %}
{% load static %}


{% block body %}
    
    Training Observation me javacript nalt mu ndrru me navigation bar training days

    <ul class="nav">
        <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
        {% for day in days %}
        <li class="nav-item">
            <a class="nav-link" id="{{ day.training_day_date }}">Date {{ day.training_day_date }}</a>
        </li>
        {% endfor %}
        <!--
        <li class="nav-item">
            <a class="nav-link" id="overall">Overall</a>
        </li>
        -->
    </ul>
    
    <form action="{% url 'trainingdays' %}" method="post" style="display: inline;">
        <table class="table">
            {% csrf_token %}
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Surename</th>
                <th scope="col">Class Room</th>
                <th scope="col">Attended</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Left Time</th>
                <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody>
            
            

            {% for day_student in day_students %}
                
                <tr>
                    <td id="training_date">{{ day_student.training_day.training_day_date }}</td>
                    <td id="student_name">{{ day_student.student_name }}</td>
                    <td id="student_surename">{{ day_student.student_surename }}</td>
                    <td id="training_room">{{ day_student.training_day.training.class_room.room_number }}</td>
                    
                    {% for element in form_obs %}
                        <td> {{ element }} </td>
                    {% endfor %} 
                </tr>
                
            {% endfor %} 
            
            </tbody>
            
        
        </table>
        
        <input type="hidden" name="studentID1" value="{{ day_students }}">
        <label for="comment_all">Write a comment for the whole class:</label>
        <input type="text" rows="5" cols="50" id="comment_all" name="comment_all"><br>
        <input type="submit" value="Save observation">
    </form>

    <button type="PDF">Export PDF</button>
    <button type="edit">Edit Observation</button>

{% endblock %}

{% block script %}
    <script src="{% static 'training_scheduling/inbox.js' %}"></script>
{% endblock %}

